import React from "react"
import { Column } from "./Column"
import { Card } from "./Card"
import { AppContainer } from "./styles"

export const App: React.FC = ({children}) => {
  return (
    <AppContainer>
      Columns will go here
    </AppContainer>
  )
}